@media (min-width: 768px) and (max-width: 1200px) {
    footer {

        .phone-footer {
          font-size: 20px;
        }

        .footer-address {
          font-size: 16px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {

      .logo {
        text-align: center;
      }

      .top-menu {
        margin-top: 9px;

          li {
            padding-right: 28px;

              &:last-of-type {
                padding-right: 0;
              }
          }
      }

      .call-block {
        text-align: center;

          .call {
            margin-top: 0;
          }

          .search {
            margin-top: 0;
          }
      }

      .search-form {
        top: 166px;
        width: calc(~'100% - 30px');
        right: auto;
        left: 15px;
      }

      .slider-block {

        .right-slider {

          .list-bath {

            &__item {

              &::before {
                bottom: -33px;
              }
            }
          }
        }
      }
  }
}
@media (min-width: 768px) and (max-width: 1000px) {

    #content {

        .room {

            &__element {
              padding: 20px 29px;

                li {
                  display: block;
                  padding: 0 !important;


                    &:last-of-type {
                      width: 100%;
                    }

                    p {

                        &.title {
                          text-align: center;
                        }
                    }

                    a:not(.link) img {
                      width: 100%;
                    }

                    a.link {
                      padding-right: 0;
                      text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {

  header {

    .logo {
      text-align: center;
    }

    .top-menu {

      margin-top: 13px;
    }

    .call-block {
      text-align: center;

        .call,
        .search {
          margin-top: 0;
        }
    }

    .search-form {
      top: 170px;
      right: auto;
      left: 15px;
      width: calc(~'100% - 30px');
    }
  }

  #content {

      .room {

          &__element {
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: 25px;
          }
      }

      .reviews-slider {

          .slick-arrow {
            display: none !important;
          }

          ul {

              li {

                .reviewer-block {
                  padding-left: 0;
                }
              }
          }
      }

  }

  footer {

      .address-f {
        clear: both;
        text-align: center;
        padding-top: 15px;
      }

      .footer-nav {

        ul {
          li {
            width: 100%;
            text-align: center;
          }
        }
      }

      .soc-network {
        text-align: center;
        padding-right: 0;
      }

      .logof {
        text-align: center;
      }

      .copyright-block {

          p {
            text-align: center;
          }
      }

      .job-logo {
        text-align: center;
        margin-top: 15px;
      }

  }
}
@media (max-width: 460px) {
  #content {

      .room {

          &__element {

              li {

                  &:first-child {
                    width: 90px;
                  }

                  &:last-of-type {
                    width: calc(~'100% - 90px');
                    margin-top: 0;
                  }
              }
          }
      }

      .reviews-slider {


        ul {

          li {
            display: block;
            padding: 0 !important;

              &:first-child {

                  img {
                    margin: 0 auto;
                  }
              }

              &:last-child {
                width: 100%;
              }

              .reviewer-block {

                  &__img {
                    float: none;
                    margin: 0 auto;
                  }

                  &__description {
                    width: 100%;
                    float: none;
                    margin-left: 0;
                  }
              }

          }
        }
      }
  }

}
@media (max-width: 979px) {
  #content {

      .partners {

          .item-partner {
            margin-bottom: 25px;
          }
      }

      .reviews-slider {
        padding-right: 46px;

          .slick-arrow {
            top: -40px;
          }
      }

      .delimiter {

          &::after,
          &::before {
            width: 45%;
          }
      }
  }
}
@media (max-width: 680px) {
  #content {

    .delimiter {

      &::after,
      &::before {
        width: 42%;
      }
    }
  }
}
@media (max-width: 460px) {
  #content {

    .delimiter {

      &::after,
      &::before {
        width: 39%;
      }
    }
  }
}
@media (max-width: 380px) {
  #contacts input[type="submit"] {
    margin-left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

  header {

    .slider-block {

        .right-slider {

            .list-bath {

                &__item {

                    &::before {
                      bottom: -23px;
                    }
                }
            }
        }
    }

    .logo {

      img {
        width: 100%;
      }
    }

    .top-menu {
      margin-top: 65px;

        li {
          padding-right: 17px;

            a {
              font-size: 16px;
            }
        }
    }

    .call-block {
      padding-left: 0;

        .call {
          margin-top: 60px;

           span {
             font-size: 15px;

             span {
               font-size: 12px;
             }
           }
        }

        .search {
          margin-top: 63px;
        }

    }

    .search-form {
      top: 52px;
    }
  }
  #content {

      .gallery,
      .list-albums {

          .wrap {

              ul {

                  li {
                    width: 25%;
                    margin-bottom: 25px;
                  }
              }
          }
      }



      .room {

          &__element {

              li {

                  &:last-of-type {
                    padding-left: 7px;
                  }
              }
          }
      }
  }
}
@media (min-width: 560px) and (max-width: 991px) {
  #content {

    .gallery,
    .list-albums {

      .wrap {

        ul {

          li {
            width: 50%;
            margin-bottom: 25px;
          }
        }
      }
    }

  }
}
@media (min-width: 320px) and (max-width: 559px) {
  #content {

    .gallery,
    .list-albums {

      .wrap {

        ul {

          li {
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  header {

      .slider-block {

          .left-slider {
            margin-bottom: 40px;
          }

          .right-slider {

              .list-bath {

                  &__item {
                      height: auto;
                      margin-bottom: 25px;
                  }
              }
          }
      }
  }

  #content {
    .map-content {

      .map-slider {

        .slick-slide {

          img {
            width: 100%;
          }
        }

        &-nav {

          .map-slider {

            &__element {
              height: auto;
            }
          }
        }
      }

      &__description {

        &__inner-map {
          padding-left: 30px;
          padding-right: 30px;
        }

        &__text {
          padding-left: 30px;
          padding-right: 30px;
        }
      }

    }

  }
  #contacts  {

    input[type="text"] {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 560px) {
  #content {

      .map-content {

          &__description {

              &__inner-map {

                  &__reviews {

                      &__item {

                          &__date {

                              top: auto;

                              span {
                                  display: block;
                                  margin-bottom: 12px;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}

@media (max-width: 740px) {
  header {

      .top-menu {

          li {
            padding-right: 3%;
          }
      }
  }
}
@media (max-width: 630px) {
  header {

    .top-menu {

      li {
        padding-right: 2.5%;
      }
    }
  }
}
@media (max-width: 545px) {
  header {

    .mini-menu {
      display: block;
    }

    .top-menu {
      margin-top: 0;
      list-style-type: none;
      margin-bottom: 0;
      display: none;

        &.view {
          display: block;
        }

      li {
        padding-right: 0;
        display: list-item;
        background-color: @bathDesc;
        padding-left: 8px;

          &:not(:last-of-type)::after {
            display: none;
          }

          &:last-of-type {
            padding-bottom: 12px;
          }

          a {
            color: #fff;
            display: block;
            padding-top: 13px;
            padding-bottom: 0;
            font-size: 16px;
          }
      }
    }

    .call-block, {
      display: none;
    }

    .wrapper-search {
      float: left;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      height: 60px;
      display: none;

        &.view {
          display: block;
        }

        .search-form {
          position: static;
          width: 100%;

            input {

                &[type=text] {
                  height: 31px;
                  width: calc(~'100% - 37px');
                  color: #fff;
                  background-color: @backSearchMini;
                  border: none;
                  font: 16px/24px @ptserif;
                  padding-left: 4px;
                }

                &[type=submit] {
                  width: 23px;
                  height: 22px;
                  text-indent: 99999px;
                  background-image: url(../img/ico-search-white.png);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-color: transparent;
                }
            }

            img {
              display: none;
            }
        }
    }
  }
}
@media (max-width: 370px) {
  #content {

      .gallery-content {

          .list-albums {

              &__album-title {

                  a {
                    display: block;
                  }
              }
          }
      }
  }
}

@media (max-width: 991px) {

    .text-content {

        .bx-newslist {

            .list-bath {

                &__item {
                  margin-bottom: 30px;
                }
            }
        }
    }

    .link-block {
      text-align: center;
      margin-bottom: 20px;
    }

    .link-img {
      text-align: center;
    }

    header {

        .slider-block {

            .left-slider {
              padding-right: 15px;
            }

        }
    }

    .slick-slide {

        img {
          width: 100%;
          height: auto;
        }
    }
}

@media (min-width: 991px) and (max-width: 1200px) {

  .text-content {

    .bx-newslist {

      .list-bath {

        &__item {
          margin-bottom: 30px;

           img {
             width: auto;
           }
        }
      }
    }
  }
}