.text-content {
  .pageTopBorder();

  p {

    &.good-name {
      .pagetitle();
    }
  }

  .bx-newslist {

    .list-bath {
      margin-bottom: 50px;

      .col-md-4 {

        &:first-child {

          & p {
            color: @lightYellow;
          }
        }

        &:last-child {

          & p {
            color: @pink;
          }
        }

        &:nth-of-type(2) {

          & p {
            color: @blue;
          }
        }
      }

      &__item {
        height: 169px;
        position: relative;
        overflow: hidden;

        /*&::before {
          display: block;
          content: '';
          width: calc(~'100% + 50px');
          height: 86px;
          position: absolute;
          bottom: -43px;
          left: -25px;
          border-radius: 50%;
          background-color: @linkTop;
          transition: bottom .5s ease;
        }*/

        /*&:hover {

          &::before {
            bottom: -25px;
          }

          & div {
            bottom: 19px;
          }
        }*/

        img {
          width: 100%;
        }


        &__title {
          position: absolute;
          width: 100%;
          height: 45px;
          bottom: 0;
          text-align: center;
          transition: bottom .5s ease;

          p {
            font: 24px/12px @ptserif;
            color: @yellow;
            padding-top: 14px;
          }
        }
      }
    }
  }

  .search-page {
    background-color: #625953;
    margin-bottom: 50px;

      form {
        padding-top: 7px;
        padding-left: 44px;
        height: 41px;
        box-sizing: border-box;
        background-color: #7e736c;
        border: 1px #625953 solid;

          input {

              &[type=submit] {
                margin-left: 1%;
                width: 22px;
                height: 22px;
                font-size: 0;
                background-image: url(../images/search-page-ico.png);
                background-color: transparent;
                border: none;
                cursor: pointer;
                vertical-align: middle;
              }

              &[type=text] {
                padding-left: 11px;
                width: calc(~'100% - 76px');
                height: 27px;
                font: 16px/24px @ptserif;
                color: #fff;
                border: none;
                background-color: #8d827b;
                vertical-align: middle;
                box-sizing: border-box;
              }
          }
      }

      .search-results {
        padding: 27px 30px 30px 44px;

          a {
            font: 18px/30px @ptserif;
            color: #ffcc00;
          }

          p {
            margin-top: 5px;
            margin-bottom: 3px;
            font: 16px/24px @ptserif;
            color: #fff;
          }

          small {
            font: 14px/24px @ptserif;
            color: @mapReviewText;

             a {

                &:hover {
                  color: @orange;
                }
             }

              &.bread {
                display: block;
                line-height: 20px;
                margin-top: -4px;

                 a {
                   font-size: 14px;
                 }
              }
          }

          .search-tpl {
            padding-bottom: 38px;
            margin-bottom: 30px;
            border-bottom: 1px @searchBorder solid;
          }
      }
  }

  &__description {
    margin-top: 27px;
    background-color: @bathDesc;
    margin-bottom: 45px;
    padding-bottom: 31px;
    padding-left: 44px;
    padding-top: 38px;
    padding-right: 30px;

      p::selection,
      span::selection,
      h1::selection,
      h2::selection,
      h3::selection,
      h4::selection,
      a::selection,
      li::selection {
        background: #373431; /* Safari, Chrome, Opera */
      }
      p::-moz-selection,
      span::-moz-selection,
      h1::-moz-selection,
      h2::-moz-selection,
      h3::-moz-selection,
      h4::-moz-selection,
      a::-moz-selection,
      li::-moz-selection {
        background: #373431; /* FireFox */
      }


      p {
        font: 16px/24px @ptserif;
        color: @mapText;

        &.title {
          font: 24px/30px @ptserif;
          color: @yellow;
          text-transform: uppercase;
          margin-bottom: 6px;
        }

      }

    .col-md-12 > img {
      float: left;
      max-width: 495px;
      width: 100%;
      height: auto;
      border: 10px @mapReview solid;
      box-sizing: border-box;
      margin-right: 25px;
      margin-top: 28px;
      margin-bottom: 15px;
    }

      h3 {
        font: 18px/30px @ptserif;
        color: #fff;
        margin-top: 28px;
        margin-bottom: 3px;
      }

      h2 {
        font: 18px/30px @ptserif;
        color: @yellow;
        margin-top: 29px;
        margin-bottom: 6px;
      }

    .delimiter {
      margin-top: 45px;
      margin-bottom: 25px;
    }

    ul {
      list-style-type: none;

        li {
          position: relative;
          padding-left: 15px;
          color: #fff;
          font: 16px/30px @ptserif;

            &::before {
              display: block;
              content: '';
              position: absolute;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: @yellow;
              left: 0;
              top: calc(~'50% - 2px');
            }
        }
    }
  }
}