<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="logo">
            <a href="javascript:void(0)">
                <img src="../img/logo.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="js-mini-menu mini-menu">
            <p>Меню</p>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <nav>
            <ul class="top-menu js-top-menu">
                <li><a href="javascript:void(0)">Главная</a></li>
                <li><a href="javascript:void(0)">Цены</a></li>
                <li><a href="javascript:void(0)">Бронь</a></li>
                <li><a href="javascript:void(0)">Отзывы</a></li>
                <li><a href="javascript:void(0)">Фотогалерея</a></li>
                <li><a href="javascript:void(0)">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 call-block">
        <div class="call">
            <img src="../img/phone-ico.png" alt=""/>
            <span>+7 (4752) 47-57-58</span>
        </div>
        <div class="search">
            <img class="search-ico js-search" src="../img/ico-search.png" alt=""/>
        </div>
    </div>
    <div class="wrapper-search js-wrapper-search">
        <form class="search-form search-form--close" action="#">
            <input type="text"/>
            <input type="submit" value="Найти"/>
            <img class="js-close" src="../img/close.png" alt=""/>
        </form>
    </div>
</div>