<div class="row">
    <div class="col-md-2">
        <div class="logo">
            <a href="javascript:void(0)">
                <img src="../img/logo.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="col-md-7">
        <nav>
            <ul class="top-menu">
                <li><a href="javascript:void(0)">Главная</a></li>
                <li><a href="javascript:void(0)">Цены</a></li>
                <li><a href="javascript:void(0)">Бронь</a></li>
                <li><a href="javascript:void(0)">Отзывы</a></li>
                <li><a href="javascript:void(0)">Фотогалерея</a></li>
                <li><a href="javascript:void(0)">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-3">
        <div class="call">
            <img src="../img/phone-ico.png" alt=""/>
            <span>+7 (4752) 47-57-58</span>
        </div>
        <div class="search">
            <form action="#">
                <input type="text"/>
                <input type="submit" value=""/>
            </form>
            <img class="search-ico js-search" src="../img/ico-search.png" alt=""/>
        </div>
    </div>
</div>