//= blocks/head.html
<body>
<header>
    <div class="container">

        <!-- Шапка -->

        //= blocks/header.html

    </div>
</header>
<div id="content">
    <div class="container">
        <div class="gallery-content">
            <p class="page-name">Фотогалерея</p>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="javascript:void(0)">Главная</a> /</li>
                    <li><span>Фотогалерея</span></li>
                </ul>
            </div>

            <!-- Список альбомов -->

            <div class="list-albums">
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-albums__album-title">
                            <span>Баня <span>"Альпы"</span></span>
                            <a href="javascript:void(0)">Смотреть все</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="list-albums__photo">
                            <div class="wrap">
                                <ul>
                                    <li><a class="fancybox" rel="1" href="../img/photo1.jpg"><img src="../img/photo1.png" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo2.jpg"><img src="../img/photo2.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo3.jpg"><img src="../img/photo3.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo4.jpg"><img src="../img/photo4.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo5.jpg"><img src="../img/photo5.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo1.jpg"><img src="../img/photo1.png" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo2.jpg"><img src="../img/photo2.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo3.jpg"><img src="../img/photo3.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo4.jpg"><img src="../img/photo4.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo5.jpg"><img src="../img/photo5.jpg" alt=""/></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-albums__album-title">
                            <span>Баня <span>"Космос"</span></span>
                            <a href="javascript:void(0)">Смотреть все</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="list-albums__photo">
                            <div class="wrap">
                                <ul>
                                    <li><a class="fancybox" rel="1" href="../img/photo1.jpg"><img src="../img/photo1.png" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo2.jpg"><img src="../img/photo2.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo3.jpg"><img src="../img/photo3.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo4.jpg"><img src="../img/photo4.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo5.jpg"><img src="../img/photo5.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo1.jpg"><img src="../img/photo1.png" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo2.jpg"><img src="../img/photo2.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo3.jpg"><img src="../img/photo3.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo4.jpg"><img src="../img/photo4.jpg" alt=""/></a></li>
                                    <li><a class="fancybox" rel="1" href="../img/photo5.jpg"><img src="../img/photo5.jpg" alt=""/></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-albums">
                <ul>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">Следующая</a></li>
                    <li><a href="javascript:void(0)">Предыдущая</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>
//= blocks/footer.html
//= blocks/scripts.html
</body>
</html>