//= blocks/head.html
<body>
<header>
    <div class="container">

        <!-- Шапка -->

        //= blocks/header.html

    </div>
</header>
<div id="content">
    <div class="container">
        <div class="map-content">
            <p class="good-name">Альпы</p>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="javascript:void(0)">Главная</a> /</li>
                    <li><a href="javascript:void(0)">Категории</a> /</li>
                    <li><span>Альпы</span></li>
                </ul>
            </div>

            <div class="map-content__description">
                <div class="row">
                    <div class="col-md-7">
                        <div class="map-content__description__inner-map">

                            <!-- Слайдер товарка -->

                            <div class="map-slider js-map-slider">
                                <div class="map-slider__element">
                                    <img src="../img/map.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map2.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map3.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map2.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map3.jpg" alt=""/>
                                </div>
                            </div>

                            <!-- Управление слайдером товарка -->

                            <div class="map-slider-nav js-map-slider-nav">
                                <div class="map-slider__element">
                                    <img src="../img/map-nav.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map3-nav.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map2-nav.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map-nav.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map3-nav.jpg" alt=""/>
                                </div>
                                <div class="map-slider__element">
                                    <img src="../img/map2-nav.jpg" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">

                        <!-- Описание товара -->

                        <div class="map-content__description__text">
                            <p class="title">Баня "Альпы"</p>
                            <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                            <h3>Подзаголовок</h3>
                            <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <!-- Отзывы товарка -->

                        <div class="map-content__description__inner-map">
                            <div class="map-content__description__inner-map__reviews">
                                <p class="count">2 Отзывы</p>

                                <div class="map-content__description__inner-map__reviews__item">
                                    <div class="map-content__description__inner-map__reviews__item__img">
                                        <img src="../img/girl.jpg" alt=""/>
                                        <p class="title-reviewer">Маша Иванова</p>
                                    </div>
                                    <div class="map-content__description__inner-map__reviews__item__text">
                                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья</p>
                                    </div>
                                    <div class="map-content__description__inner-map__reviews__item__date">
                                        <span>2 Октября, 2016 г.</span>
                                        <a href="javascript:void(0)">Ответить</a>
                                    </div>
                                </div>
                                <div class="map-content__description__inner-map__reviews__item">
                                    <div class="map-content__description__inner-map__reviews__item__img">
                                        <img src="../img/girl.jpg" alt=""/>
                                        <p class="title-reviewer">Маша Иванова</p>
                                    </div>
                                    <div class="map-content__description__inner-map__reviews__item__text">
                                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья</p>
                                    </div>
                                    <div class="map-content__description__inner-map__reviews__item__date">
                                        <span>2 Октября, 2016 г.</span>
                                        <a href="javascript:void(0)">Ответить</a>
                                    </div>
                                </div>

                                <p class="read-review">Написать отзыв</p>
                                <div class="map-content__description__inner-map__reviews__form">
                                    <form action="#">
                                        <input type="text" name="" placeholder="Ваше имя*"/>
                                        <input type="text" name="" placeholder="E-mail*"/>
                                        <textarea name="" id="" placeholder="Сообщение"></textarea>
                                        <input type="submit" value="Отправить"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
//= blocks/footer.html
//= blocks/scripts.html
</body>
</html>