//= blocks/head.html
<body>
<header>
    <div class="container">

        <!-- Шапка -->

        //= blocks/header.html

    </div>
</header>
<div id="content">
    <div class="container">
        <div class="text-content">
            <p class="good-name">Заголовок страницы</p>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="javascript:void(0)">Главная</a> /</li>
                    <li><span>Текстовая страница</span></li>
                </ul>
            </div>

            <div class="text-content__description">
                <div class="row">
                    <div class="col-md-12">
                        <p class="title">Баня "Альпы"</p>
                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                        <h3>Подзаголовок</h3>
                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). Ба́ня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                        <img src="../img/map.jpg" alt=""/>
                        <h2>Подзаголовок 2</h2>
                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). Ба́ня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).
                        </p>
                        <br class="clear"/>
                        <div class="delimiter">
                            <img src="../img/ushat.png" alt="">
                        </div>
                        <p class="title">Баня "Альпы"</p>
                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                        <ul>
                            <li>Вместимоть 5 человек</li>
                            <li>Стоимость часа 700</li>
                            <li>Русская парная</li>
                            <li>Бассейн</li>
                        </ul>
                        <p>Баня — помещение, оборудованное для мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане). мытья человека с одновременным действием воды и горячего воздуха (в турецких и римских банях) или воды и пара (в русской и финской бане).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
//= blocks/footer.html
//= blocks/scripts.html
</body>
</html>